@charset "UTF-8";

body {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  color: #111;
}

/* ヘッダーの出現 */

header {
  display: flex;
  z-index: 99;
  position: fixed;
  height: 80px;
  width: 100%;
  justify-content: space-between;
}

.fixed {
  background-color: #fff;
  opacity: 1;
  transition: 1s ease-out;
  box-shadow: 0px 0px 10px 0px #ddd;
}

/* header */

.header-logo svg {
  width: 180px;
  height: 23px;
  padding: 30px 0 0 35px;
}

.header-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #eb51c2;
  padding: 15px;
  width: 220px;
  height: 15px;
  border-radius: 50px;
  color: #fff;
  margin-top: 18px;
  margin-right: 35px;
  letter-spacing: 0.75px;
}

.header-button p {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.75px;
}

.header-button-none {
  opacity: 0;
  transition: 1s ease-out;
}

header > a {
  text-decoration: none;
  color: inherit;
}

/* section-01 */

.kv {
  background-image: url(../img/bg_mv-min.webp);
  background-position: center;
  height: 680px;
  border-radius: 0 0 0 100px;
  width: 72%;
  margin: 0 0 0 auto;
}

.kv-container {
  max-width: 1440px;
  margin: 0 auto;
}

.kv-content {
  position: relative;
  left: -25%;
  top: 210px;
  width: 465px;
}

.kv-header {
  font-size: 90px;
  font-weight: lighter;
}

.kv-header-01 {
  display: inline-block;
  background-color: #fff;
  font-style: italic;
  font-size: min(11vw, 90px);
}
.kv-header-02 {
  display: inline;
  background-color: #fff;
  font-style: italic;
  font-size: min(11vw, 90px);
}

.kv-text {
  /* display: inline-block; */
  display: block;
  width: 520px;
  font-size: 28px;
  font-weight: bold;
  margin: 27px 0 36px;
  background-color: #fff;
  letter-spacing: 0.1em;
}

.kv-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #eb51c2;

  width: 310px;
  padding: 30px;
  border-radius: 50px;
  color: #fff;
}
.kv-button-text {
  font-size: 20px;
  font-weight: bold;
}

.kv-br {
  display: none;
}
.section-01-wrapper {
  position: relative;
  top: -20px;
  text-align: center;
  margin: 0 auto;
  width: 902px;
}

.wrapper-header-01 {
  font-style: italic;
  color: #eb51c2;
  margin-bottom: 10px;
  font-size: 108px;
}

.section-01-br {
  display: none;
}
.wrapper-header-02 {
  font-size: 32px;
  margin-bottom: 26px;
  font-weight: bold;
}
.wrapper-header-02 span {
  color: #eb51c2;
}
.and {
  color: #eb51c2;
  font-size: 85px;
}

.wrapper-text {
  margin: 0 auto;
  width: 702px;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
}

/* section-02 */

.section-02-content-wrapper {
  width: 555px;
  height: 495px;
}
.section-02 {
  margin-top: 10px;
}

.section-02-container {
  position: relative;
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}

.section-02-img {
  position: absolute;
  width: 70%;
  height: 480px;
  text-align: center;
}
.section-02-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-02-content {
  position: absolute;
  /* box-shadow: 0 0 8px 4px #ccc; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;

  bottom: -10px;
  right: 20px;
  width: 435px;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 60px;
  padding-right: 80px;
  padding-bottom: 70px;
}

.section-02-title {
  font-size: 24px;
  padding: 60px 0 24px 0px;
  color: #eb51c2;
}
.section-02-header {
  font-size: 32px;
  line-height: 42px;
}

.section-02-text {
  width: 435px;
  font-size: 16px;
  padding-right: 60px;
  margin-top: 16px;
  line-height: 28.8px;
}

/* section-03 */
.section-03 {
  margin-top: 100px;
  margin-bottom: 60px;
}

.section-03-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  max-width: 1440px;
}

.section-03-img {
  width: 70%;
}
.section-03-img img {
  height: 480px;
  width: 100%;
  object-fit: cover;
}

.section-03-content {
  position: absolute;
  /* box-shadow: 0 0 8px 4px #ccc; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;

  left: 75px;
  bottom: -10px;
  width: 435px;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 70px;
}

.section-03-title {
  font-size: 24px;
  padding: 60px 0 24px 0px;
  color: #00b21b;
}
.section-03-header {
  font-size: 32px;

  line-height: 42px;
}

.section-03-text {
  font-size: 16px;
  margin-top: 16px;
  line-height: 28.8px;
}

.section-03-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb51c2;
  height: 40px;
  width: 340px;
  padding: 20px;
  border-radius: 50px;
  color: #fff;
  margin-top: 15px;
  margin-right: 20px;
}

.section-03-button p {
  font-size: 22px;
  font-weight: bold;
}

.section-03 a div {
  margin: 93px auto 0px;
}

/* section-04  */
.section-border-top {
  transform: translateY(10px);
}

.section-border-bottom {
  transform: translateY(-10px);
  transform: scale(-1, -1);
}

.section-04-content {
  max-width: 1500px;
  margin: 0 auto;
}

.bg-section-04 {
  background-color: #eb51c2;
}

.section-04-container {
  width: 1110px;
  margin: 0 auto;
  height: 744px;
}

/* 見出し */

.section-04-title {
  font-size: 64px;
  color: #fff;
  margin-bottom: 9.8px;
  padding-top: 44.3px;
}
.section-04-header {
  font-size: 20px;

  color: #fff;
}

/* section-04-wrapper */

.section-04-wrapper {
  width: 100%;
  display: flex;
  text-align: center;
}
.section-04-wrapper h3 {
  color: #fff;
}

.section-04 li {
  list-style: none;
}

.trainer,
.staff {
  width: 555px;
  padding-bottom: 20.5px;
  padding-top: 44px;
  cursor: pointer;
}
.staff.active,
.trainer.active {
  border-bottom: 2px solid #fff;
}

/* item */

.trainer-wrapper {
  margin-top: 20.5px;
  display: flex;
  width: 100%;
}
.staff-wrapper {
  margin-top: 20.5px;
  display: flex;
}
.staff-header,
.trainer-header {
  font-size: 18px;
  line-height: 21px;
}

.item {
  background-color: #fff;
  border-radius: 10px;
  width: 33%;
}

.item img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.item-text {
  padding: 20px;
  line-height: 25.5px;
  font-size: 15px;
  letter-spacing: 0.01em;
}

.item-01,
.item-04 {
  margin-right: 7.5px;
}
.item-02,
.item-05 {
  margin: 0 7.5px;
}
.item-03 {
  margin-left: 7.5px;
}
.price-item-info-01,
.price-item-info-02,
.price-item-info-03 {
  font-weight: bold;
}

/* section-05 */

.section-05-title {
  font-size: 64px;
  color: #000;
  margin-bottom: 9.8px;
  padding-top: 44.3px;
}
.section-05-header {
  padding-bottom: 40px;
  font-size: 20px;
  color: #eb51c2;
}

.section-05-container {
  width: 1110px;
  margin: 0 auto;
  height: 911px;
}
.section-05-img {
  margin-top: 40px;
}

/* section-06 */
.bg-section-06 {
  background-color: #eb51c2;
  height: 651px;
}

.section-06-container {
  width: 1110px;
  margin: 0 auto;
  height: 651px;
}

.section-06-title {
  font-size: 64px;
  color: #fff;
  margin-bottom: 9.8px;
  padding-top: 41px;
}

.section-06-header {
  font-size: 20px;
  color: #fff;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
}

/* price-item */

.price-item {
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  width: 350px;
  height: 437px;
}

.price-type {
  margin-top: 41.8px;
  margin-bottom: 10px;
  font-size: 26px;
  color: #eb51c2;
}

.price-price {
  font-size: 48px;
}

/* 太字設定 */

.price-item-info-01,
.price-item-info-02,
.price-item-info-03 {
  font-weight: bold;
}
.club-fee {
  font-size: 18px;
}

/* おすすめ */
.rec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 256px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  color: #eb51c2;
  background-color: #fff;
  border: #eb51c2 2px solid;
  border-radius: 100px;
  transform: translateY(-25px);
}

.price-item-01-wrap {
  transform: translateY(-50px);
}
.rec-text {
  font-size: 20px;
  color: #eb51c2;
}
.price-item-02-wrap {
  transform: translateY(-50px);
}

/*  */

.price-item-header-01 {
  margin-top: 45px;
}
.price-item-header-02,
.price-item-header-03 {
  margin-top: 40px;
}

.price-item-header-01,
.price-item-header-02,
.price-item-header-03 {
  font-size: 18px;
}
.price-item-info-01,
.price-item-info-02,
.price-item-info-03 {
  font-size: 16px;
  margin: 11px 0 20px;
}

/* 下線 */

.club-fee::after {
  transform: translateY(20px);
  content: "";
  width: 310px;
  height: 1px;
  display: block;
  background-color: #d8d8d8;
  margin: 0 auto;
}
.price-item-info-01::after,
.price-item-info-02::after {
  content: "";
  width: 310px;
  height: 1px;
  display: block;
  background-color: #d8d8d8;
  margin: 0 auto;
}

.price-item-info-01::after,
.price-item-info-02::after,
.price-item-info-03::after {
  transform: translateY(20px);
}

/* section-07 */

.section-07-container {
  max-width: 1110px;
  width: 89%;
  margin: 0 auto;
  margin-top: 20px;
}

.section-07-title {
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 9.8px;
  margin-top: 40px;
}

.section-07-header {
  font-size: 20px;
  color: #eb51c2;
}

/* q-a */

/* アコーディオン */

.q-01-wrapper,
.q-02-wrapper,
.q-03-wrapper {
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
}
.q-a-wrapper {
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 60px;
}

.q-a span {
  font-size: 26px;
  color: #eb51c2;
  margin-right: 20.5px;
}

.q-01,
.q-02,
.q-03 {
  margin-top: 14px;
}
.a-01,
.a-02,
.a-03 {
  font-size: 15px;
  margin-left: 2px;
  margin-top: 14px;
}

.q-a::after {
  transform: translateY(10px);
  content: "";
  height: 1px;
  background-color: #d8d8d8;
  width: 95%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.q-01,
.a-01,
.q-02,
.a-02,
.q-03,
.a-03 {
  display: flex;
}

.a-01,
.a-02,
.a-03 {
  display: none;
}

.a-01-flex {
  display: flex;
}

.A,
.Q {
  color: #eb51c2;
  font-size: 26px;
  margin-right: 20.5px;
}

.a-flex {
  display: flex;
}
.q-content,
.a-content {
  font-size: 15px;
}

/* 中のピンクの三角 */
.arrow-01::after,
.arrow-02::after,
.arrow-03::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 3px solid;
  border-right: 3px solid;
  border-color: #eb51c2;
  transform: rotate(135deg);

  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
}

/* 中のピンクの三角 */
.arrow-01-down::after,
.arrow-02-down::after,
.arrow-03-down::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 3px solid;
  border-right: 3px solid;
  border-color: #eb51c2;
  box-sizing: border-box;
  transform: rotate(-45deg);

  margin: 0 auto;
  align-items: center;
}

.arrow-com {
  margin-top: 14px;
}

/* section-08 */

.section-08-container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.section-08-img img {
  transform: translateY(5px);
  width: 100%;
  height: auto;
}

.section-08-contact {
  height: 268px;
  background: #eb51c2;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-08-contact h2 {
  font-size: 64px;
  font-weight: lighter;
  padding: 50px 0 15px;
}

.contact-button {
  margin: 0 auto;
  background-color: #fff;

  color: #eb51c2;
  width: 360px;
  padding-top: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  height: 20px;
  padding: 30px 20px;
  border-radius: 50px;
  text-align: center;
}

/* footer */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin: 0 auto;
  height: 273px;
}

footer svg {
  margin: 0 auto;
  text-align: center;
  width: 180px;
  height: 23px;
}

/*ヘッダーの出現*/

.bgextend {
  animation-name: bgextendAnimeBase;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden; /*はみ出た色要素を隠す*/
  opacity: 0;
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*中の要素*/
.bgappear {
  animation-name: bgextendAnimeSecond;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*左から右*/
.bgLRextend::before {
  animation-name: bgLRextendAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eb51c2;
  /*伸びる背景色の設定*/
}

@keyframes bgLRextendAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger {
  opacity: 0;
}
/*  */

/* スクロール */

/*リンクの形状*/
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0 0 5px 1px #ccc;
  width: 80px;
  height: 80px;
  color: #000;
  text-align: center;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/* 中のピンクの三角 */
#page-top::after {
  z-index: 4;
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  bottom: 30px;
  right: 33px;
  border-top: 4px solid;
  border-right: 4px solid;
  border-color: #eb51c2;
  transform: rotate(-45deg);
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
}

#page-top > a:hover {
  opacity: 80%;
}

/*左の動き*/

#page-top.LeftMove {
  animation: LeftAnime 0.5s forwards;
}

@keyframes LeftAnime {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*右の動き*/

#page-top.RightMove {
  animation: RightAnime 0.5s forwards;
}
@keyframes RightAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

/*  */

/* テキストの出現 */

.section-02-content,
.section-03-content,
.item {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(50px);
}
/*アニメーション要素までスクロールした時のスタイル*/
.active-text {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.active-text-second {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*  */

.swiper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.swiper--wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
  height: 300px;
}

.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  text-align: center;
  width: 1110px;
  height: 670px;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  color: #000;
  text-align: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  /* bottom: 30px;
  right: 33px; */
  border-top: 3px solid;
  border-right: 3px solid;
  border-color: #eb51c2;
  transform: rotate(45deg);
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
}

/* ボタンの向き */
.swiper-button-next::after {
  transform: rotate(45deg);
}
.swiper-button-prev::after {
  transform: rotate(-135deg);
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1270px;
}

/* ページネーション */

:root {
  --swiper-theme-color: #eb51c2;
}
.swiper-pagination-bullet {
  /* transform: translateY(0px); */
}
/* スタッフとトレーナーのアニメーション */

.try-content {
  display: none;
  transition: 2s;
}
.try-content.active {
  display: flex;
}

.staff:not(.active) > .staff-header,
.trainer:not(.active) > .trainer-header {
  font-weight: normal;
}

.staff .try-menu li {
  list-style: none;
}

/* ボタンのデコレーション */

main a {
  text-decoration: none;
  color: inherit;
}

body a:hover {
  opacity: 0.7;
}
